.root {
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: calc(100% + 4px);
  // background: var(--grey-850);
  border-radius: var(--border-radius);
  padding: 8px;
  z-index: var(--dropdown-z-index, 10);
  background: var(--dropdown-list-bg, var(--dropdown-bg, var(--grey-850)));
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.25);
}

.list {
  max-height: 300px;
  overflow: auto;
}

.listItem {
  // flex gap-3 items-center hover:bg-gray-100-hover px-5 py-2 last-of-type:rounded-b-2xl cursor-pointer

  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 8px;
  font-size: 15px;
  // font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.15px;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background: var(--grey-800);
  }
}

.iconContainer {
  display: flex;
  width: 20px;
  align-items: center;
  justify-content: center;

  img {
    max-width: 20px;
    max-height: 20px;
    border-radius: 6px;
  }
}

.chatStyle {
  background-color: var(--grey-700);
  padding: 0;

  .list {
    padding: 0;
    min-width: 240px;
  }

  .listItem {
    padding-left: 12px;
    &:hover {
      background-color: var(--grey-600);
    }
  }
}

.darkBordered {
  background: var(--grey-900);
  border-radius: 8px;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.27),
    0px 20px 20px 0px rgba(0, 0, 0, 0.23), 0px 45px 27px 0px rgba(0, 0, 0, 0.14),
    0px 79px 32px 0px rgba(0, 0, 0, 0.04),
    0px 124px 35px 0px rgba(0, 0, 0, 0.01);
  padding: 0;

  .listItem {
    padding: 12px 16px;
    border-radius: 0;
    gap: 12px;

    &:first-of-type {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-of-type {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
