@import "@styles/mixins";

.container {
  width: 100%;
  container-type: inline-size;
}

.containerInner {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @container (min-width: 670px) {
    flex-direction: row;
    gap: 20px;
  }

  @include sm {
    gap: 20px;
  }

  .isModal & {
    gap: 20px;
  }
}

.left {
}

.right {
}
