.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--grey-500);
  font-weight: 500;
  margin-top: 21px;
  padding-right: 16px;
  user-select: none;
}

.rowsText {
  margin-right: 33px;
}

.startEndText {
  margin-right: 22px;
}

.arrowLeft,
.arrowRight {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--grey-900);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
  }
}

.arrowRight {
  transform: rotate(180deg);
  margin-left: 10px;
}

.disabled {
  pointer-events: none;
}
