.button {
  justify-content: flex-start;

  @media screen and (max-width: 840px) {
    display: none;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.mobileMenu {
  display: none;

  @media screen and (max-width: 840px) {
    display: flex;
  }
}
