.container {
  display: flex;
  position: relative;
  border-radius: 8px;
  background: var(--grey-850);
  padding: 24px 16px;
}

.icon {
  color: #2bd13e;
}

.text {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.15px;
  margin: 0;
  padding: 6px 0;
}

.timer {
  color: #2bd13e;
  text-align: center;
  text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.16);
  font-size: 28px;
  font-weight: 900;
  line-height: 28px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  &.invisible {
    opacity: 0;
  }
}
