.table {
  width: 100%;
}

.tr {
  position: relative;

  .tbody &:hover {
    background-color: var(--table-row-hover-background, var(--grey-750));
  }
}

.td,
.th {
  padding: 6px 16px;
  height: 40px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  vertical-align: middle;

  &:first-child {
    padding-left: 35px;
  }

  &:last-child {
    padding-right: 35px;
  }
}

.thead .td {
  font-weight: 700;
}

.thead {
  background: var(--table-heaer-background, rgba(255, 255, 255, 0.1));
}

.tbody {
  .tr {
    border-bottom: 1px solid
      var(--table-row-divider-color, rgba(255, 255, 255, 0.12));

    &:last-child {
      border-bottom: none;
    }
  }
}
