@import "@styles/mixins";

.container {
  --upgraderListHeight: calc(100vh - 80px - 60px - 96px) !important;
  --upgraderListMinHeight: 780px;

  border-radius: var(--border-radius-medium);
  background: var(--grey-950);
  overflow: hidden;
  min-height: 400px;
  padding: 12px 12px 0;
  position: relative;
  transition: opacity 0.25s var(--easing);

  height: var(--upgraderListHeight);
  min-height: var(--upgraderListMinHeight);

  &::before {
    content: "";
    z-index: 5;
    pointer-events: none;
    position: absolute;
    box-shadow: 0px -60px 60px 0px rgba(0, 0, 0, 0.6) inset,
      0px 60px 60px 0px rgba(0, 0, 0, 0.4) inset;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  @include xs {
    border-radius: 0;
    background: transparent;
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.isModal {
  --upgraderListHeight: 400px !important;
  --upgraderListMinHeight: 400px;

  border-radius: 0;
  background: transparent;
  padding: 0;
  flex: 1;
  width: calc(100% + 20px);

  &::before {
    display: none;
  }

  :global(.virtuoso-grid-list) {
    padding-right: 20px;
  }

  :global(.virtuoso-grid-item:last-child) {
    margin-bottom: 20px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loginLink {
  color: var(--secondary-color);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
