@import "@styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include sm {
    gap: 14px;
  }
}

.fieldsContainer {
  display: flex;
  gap: 12px;
}

.buttons {
  display: flex;
  gap: 8px;
  width: 100%;
}

.button {
  color: #fff;
  border: 1.5px solid transparent;
  flex: 1;
  padding: 0;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;

  &:hover {
    border-color: transparent;
    background-color: var(--grey-800);
    color: #fff;
  }

  &.active {
    border-color: var(--crazy-green);
  }
}

.slider {
  margin: 16px 0;
}

.textInput {
  height: 52px;

  @include sm {
    height: 44px;
  }
}
