@import "@styles/mixins";

.container {
  height: 168px;
  border-radius: var(--border-radius-medium);
  background: var(--grey-850);
  padding: 9px 9px 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &.clickable {
    cursor: pointer;
  }

  &:hover {
    .glow {
      width: 420.5px;
      height: 210px;
    }

    .image {
      filter: opacity(1) drop-shadow(4px 4px 19px var(--itemColor));
      transform: scale(1.07);
    }
  }

  &.selected {
    // background: radial-gradient(
    //   92.19% 120% at 50% 50%,
    //   rgba(74, 221, 1, 0.8) 0%,
    //   rgba(31, 97, 0, 0.8) 63.22%
    // );
    // --itemColor: rgba(74, 221, 1, 0.8) !important;

    background: radial-gradient(
      92.19% 120% at 50% 50%,
      rgba(246, 104, 0, 0.8) 0%,
      rgba(50, 21, 0, 0.8) 63.22%
    );
    box-shadow: 0px 4px 28px 0px rgba(146, 62, 9, 0.5);
    --itemColor: rgba(246, 104, 0, 0.8) !important;
  }
}

.image {
  height: 102px;
  width: 100%;
  max-width: 100px;
  object-fit: contain;
  margin: 0 auto;
  margin-bottom: 8px;
  display: block;
  filter: opacity(0.9);
  transition: all 0.25s var(--easing);
  position: relative;
  z-index: 3;
  justify-self: flex-start;
}

.itemName {
  text-align: center;
  color: var(--grey-300);
  width: 100%;
  position: relative;
  z-index: 3;
}

.price {
  position: relative;
  z-index: 3;
  margin-top: 4px;
}

.line {
  color: var(--itemColor);
  background: linear-gradient(
    270deg,
    rgba(163, 241, 64, 0) 0%,
    currentColor 48.96%,
    rgba(163, 241, 64, 0) 100%
  );
  filter: blur(0.15000000596046448px);
  width: 82%;
  max-width: 90%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.25s var(--easing);
}

.elipseContainer {
  width: 170px;
  height: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  // overflow: hidden;
  z-index: 2;
  border-radius: var(--border-radius-large);
}

.glow {
  color: rgb(221, 221, 221);
  // width: calc(149px * 1.5);
  // height: calc(54px * 1.5);
  width: 274.5px;
  height: 115px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.25s var(--easing);
}

.stars {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  transform: scale(3);
  transition: all 0.3s var(--easing);
  opacity: 0;
  mix-blend-mode: color-dodge;

  .container:hover &,
  .container.selected & {
    transform: scale(0.9);
    opacity: 1;
  }
}
