.container {
  display: flex;
  gap: 8px;
  align-items: center;
}
.center {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.userName {
  font-size: 16.714px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.501px;
}
