@import "@styles/mixins";

.container {
  border-radius: 16px;
  background: var(--grey-950);
  height: var(--displayHeight, 450px);
  width: 100%;
  // padding: 8px 8px 32px;
  padding: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // margin-bottom: 40px;
  overflow: hidden;

  @include sm {
    height: 344px;
  }

  &::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition-medium);
    width: 284px;
    height: 284px;
    opacity: 0.6;
    background: var(--originalItemColor);
    filter: blur(138.64857482910156px);
    z-index: 2;
  }

  &.won::before {
    width: 500px;
    height: 500px;
  }
}

.content {
  position: relative;
  z-index: 5;
}

.itemName {
  color: var(--grey-300);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  max-width: 190px;
  margin-bottom: -20px;
  white-space: nowrap;
  display: flex;
  align-items: center;

  @include sm {
    margin-bottom: -5px;
    font-size: 12px;
    line-height: 13px;
  }
}

.imageContainer {
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  transform: scale(1);

  @include sm {
    width: 140px;
    height: 140px;
  }

  .contentInner:hover & {
    transform: scale(1.1);
  }
}
.image {
  width: 170px;
  height: 170px;
  object-fit: contain;
  transition: var(--transition-medium);

  @include sm {
    width: 140px;
    height: 140px;
  }

  &.steamImage {
    width: 100px;
    height: 100px;

    @include sm {
      width: 80px;
      height: 80px;
    }
  }

  &.withTicket {
    transform: translateX(-55px);
  }
}

.price {
  color: #fff;
  text-shadow: 0px 6.238841533660889px 31.194211959838867px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.608px;
  margin-top: -20px;

  @include sm {
    font-size: 16px;
    margin-top: -10px;

    svg {
      width: 22px !important;
      height: 22px !important;
    }
  }
}

.placeholderText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 20;
}

.contentTransition {
  position: relative;
  z-index: 5;
}

.contentInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.isModal {
  .itemName {
    margin-bottom: -5px;
    font-size: 12px;
    line-height: 13px;
  }

  .imageContainer {
    width: 140px;
    height: 140px;
  }

  .image {
    width: 140px;
    height: 140px;

    &.steamImage {
      width: 80px;
      height: 80px;
    }
  }

  .price {
    font-size: 16px;
    margin-top: -10px;

    svg {
      width: 22px !important;
      height: 22px !important;
    }
  }
}

.chance {
  color: var(--grey-200);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  opacity: 0.8;
  margin: 6px 0;
}

.rollText {
  color: var(--grey-200);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.winTicket {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  color: var(--grey-200);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: var(--transition-medium);

  span {
    color: var(--white);
    font-weight: 600;
  }

  &.visible {
    opacity: 1;
    transform: translate(calc(-50% + 55px), -50%);
  }
}
