@import "@styles/mixins";

.button {
  @include button-reset;
  height: 28px;
  margin-top: 4px;
  flex: 0 0 18px;
  margin-right: 4px;
  border-radius: 4px;
  transition: var(--transition);
  background-color: transparent;

  &:hover {
    background-color: var(--grey-700);
  }
}
