@import "@styles/mixins";

.container {
}

.equalSignPlaceholder {
  flex: 0 0 27px;
  height: 1px;
}

.equalSign {
  font-weight: 500;
  border-radius: 8px;
  background: var(--grey-850);
  width: 27px;
  flex: 0 0 27px;
  height: 28px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.inputsContainer {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  justify-content: stretch;
}

.label {
  width: 100%;
  margin-bottom: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: stretch;
  margin-top: 8px;

  @include sm {
    display: none;
  }
}

.footerColumn {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  align-items: center;
  flex: 1;
}

.quickAction {
  @include button-reset;
  @include flexCenter;
  border-radius: 7px;
  background: var(--grey-850);
  flex: 1;
  height: 28px;
  transition: var(--transition);

  &:hover {
    background-color: var(--grey-700);
  }
}

.badge {
  width: 100%;
  font-size: 13px;
}
