.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  z-index: 4;
}

.circleDot {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-25%) translateY(-25%);
    width: 6px;
    height: 6px;
    background-color: #ff5b01;
    border: 1.5px solid var(--avatar-color);
    border-radius: 50%;
    box-sizing: border-box;
  }
}
