.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.itemsGrid {
  height: calc(var(--main-content-height) - 56px) !important;
  min-height: 500px;
  width: 100%;
  width: 100%;
}

.searchField {
  min-width: 300px;
}
