.modal {
  z-index: calc(var(--zIndex-modal) + 1);
  width: 388px;
}

.backdrop {
  z-index: calc(var(--zIndex-modal) + 1);
}

.form {
  display: flex;
  flex-direction: column;
}

.text {
  color: var(--grey-300);
}
