@import "@styles/mixins";

.container {
  display: flex;
  margin-top: 44px;
  gap: 12px;

  @include sm {
    gap: 8px;
    margin-top: 20px;
  }

  &.isModal {
    margin-top: 20px;
  }
}

.refreshButton {
  flex: 0 0 64px;

  @include sm {
    flex: 0 0 52px;
  }
}
