@import "@styles/mixins";

.arrowContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  pointer-events: none;

  z-index: 6;

  @include sm {
    width: 365px;
    height: 365px;
  }

  svg {
    transform: translateY(-15px);

    @include sm {
      transform: translateY(-5px);
      width: 74px;
      height: 74px;
    }
  }

  .innerContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    transition: all var(--upgrader-animation-duration) var(--wheel-easing);
    display: flex;
    justify-content: center;
  }
}

.inModal {
  @include smUp {
    width: 100%;
    height: 100%;

    svg {
      width: 54px;
      height: 54px;
      transform: translateY(5px);
    }
  }
}
